<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>Product</h1>
                <p class="breadcrumbs"><span><a href="../dashboard">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>Product</p>
            </div>
            <div>
                <a href="../dashboard/add_product" class="btn btn-primary"> Add Porduct</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Purchased</th>
                                        <th>Stock</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% products.forEach((v)=>{ %>
                                    <tr>
                                        <td><img class="tbl-thumb" src="../upload/product/<%= v._id%>.<%=v.mimetype%>" alt="Product Image" /></td>
                                        <td><%= v.name%></td>
                                        <td>$<%= v.price%></td>
                                        <td>0</td>
                                        <td><%= v.quantity%></td>
                                        <td><%= new Date(v.createdDate).toISOString().split('T')[0]; %></td>
                                        <td>
                                            <div class="btn-group mb-1">
                                                <button type="button"
                                                    class="btn btn-outline-success">Info</button>
                                                <button type="button"
                                                    class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" data-display="static">
                                                    <span class="sr-only">Info</span>
                                                </button>

                                                <form class="dropdown-menu" method="post">
                                                    <input type="hidden" name="id" value="<%= v._id%>">
                                                    <button type="submit" class="dropdown-item" name="action" value="edit">Edit</a>
                                                    <button type="submit" class="dropdown-item" name="action" value="delete">Delete</a>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div>