<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>Edit Product</h1>
                <p class="breadcrumbs"><span><a href="../dashboard">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>Product</p>
            </div>
            <div>
                <a href="../dashboard/list_product" class="btn btn-primary"> View All
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="card card-default" method="post" enctype="multipart/form-data">
                    <div class="card-header card-header-border-bottom">
                        <h2>Edit Product</h2>
                    </div>

                    <div class="card-body" >
                        <div class="row ec-vendor-uploads">
                            <div class="col-lg-4">
                                <div class="ec-vendor-img-upload">
                                    <div class="ec-vendor-main-img">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type='file' id="imageUpload" class="ec-image-upload"
                                                    accept=".png, .jpg, .jpeg" name="image"/>
                                                <label for="imageUpload"><img
                                                        src="../assets/img/icons/edit.svg"
                                                        class="svg_img header_svg" alt="edit" /></label>
                                            </div>
                                            <div class="avatar-preview ec-preview">
                                                <div class="imagePreview ec-div-preview">
                                                    <img class="ec-image-preview"
                                                    <% if(product){%>
                                                        src="../upload/product/<%= product._id%>.<%= product.mimetype%>"
                                                    <%}else{%>
                                                        src="../assets/img/products/vender-upload-preview.jpg"
                                                    <%}%>
                                                        alt="edit" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mt-3">
                                <div class="ec-vendor-upload-detail">
                                    <div class="row g-3">
                                        <div class="col-md-6 mt-3">
                                            <label for="inputEmail4" class="form-label">Product name</label>
                                            <input type="text" class="form-control slug-title" id="inputEmail4" name="name"
                                            <% if(product){%>
                                                value="<%= product.name%>"
                                            <%}%>
                                            >
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label class="form-label">Product Id</label>
                                            <input type="text" class="form-control" name="id"
                                            <% if(product){%>
                                                value="<%= product._id%>"
                                                readonly
                                            <%}%>
                                            >
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label class="form-label">Select Categories</label>
                                            <select name="category" id="Categories" class="form-select">
                                                <% categorys.forEach((v)=>{ %>
                                                    <option 
                                                    <% if(product && v.name === product.category){%>
                                                        selected="selected"
                                                    <%}%>
                                                    ><%= v.name %></option>
                                                <%});%>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label class="form-label">Price <span>( In USD
                                                    )</span></label>
                                            <input type="number" class="form-control" id="price1" name="price"
                                            <% if(product){%>
                                                value="<%= product.price%>"
                                            <%}%>
                                            >
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" class="form-control" id="quantity1" name="quantity"
                                            <% if(product){%>
                                                value="<%= product.quantity%>"
                                            <%}%>
                                            >
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- End Content -->
</div>